<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleTestSuite">

    <test name="SampleTestCase">
        <classes>
            <class name="com.jobs.SampleTest">
                <methods>
                    <include name="f"/>
                    <include name="f1"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
